<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- CSS Link --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css"/>
    {{!-- JQuery Link --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- BootStrap Link --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!-- Font Awesome Link --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- JavaScript Link --}}
    <script src="assets/js/burger.js"></script>
    <title>Eat-Da-Burger</title>
</head>
<body>
    {{{ body }}}
</body>
</html>